<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="IOT soil monitoring system">
    <meta name="author" content="Ishmael Obeng">
    <meta name="keywords" content="soil monitoring system">

    <!-- Title Page-->
    <title>@ViewData["Title"] - Soil monitoring system</title>

    <!-- Fontfaces CSS-->
    <link href="~/dashboard/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/dashboard/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/dashboard/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" media="all" />

    <!-- Vendor CSS-->
    <link href="~/dashboard/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/dashboard/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/dashboard/css/theme.css" rel="stylesheet" media="all">

</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a asp-controller="Dashboard" asp-action="AgricOfficers">
                           <h2 class="text-white">SMARTSOILGH</h2>
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li>
                                <a asp-controller="Dashboard" asp-action="AgricOfficers">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="bot-line"></span>
                                </a>

                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="bot-line"></span>Devices
                                </a>

                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a asp-controller="Arduino" asp-action="VerifyDevice">Verify device</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arduino" asp-action="ActivateDevice">Activate device</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetArduinoDevicesRegisteredByAgricExtOfficer">Registered devices</a>
                                    </li>

                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficer">
                                            Activated Devices
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetUnActivatedDevicesRegisterdByAgricExtensionOfficer">
                                            Unactivated devices
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerButAreOnsite">
                                            On-Site devices
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerAndNotOnsite">
                                            Off-site devices
                                        </a>
                                    </li>

                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerThatAreOnsiteAndActive">
                                            Onsite & Active devices
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerThatAreOnsiteAndUnactive">
                                            Onsite & Unactive devices
                                        </a>
                                    </li>



                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-trophy"></i>
                                    <span class="bot-line"></span>Farmers
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a asp-controller="Farmer" asp-action="RegisterFarmer">Add new farmers</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Farmer" asp-action="GetFarmersByOfficers">Registered Farmers</a>
                                    </li>

                                </ul>
                            </li>
                           
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-tractor"></i>
                                    <span class="bot-line"></span>Farms
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        <a asp-controller="Farm" asp-action="FarmsRegisteredByOfficer">View registered farms</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Farm" asp-action="GetRegisteredFarmAndTheirMapLocation">Get GPS location of farms</a>
                                    </li>
                                   
                                </ul>
                            </li>
                           
                            
                        </ul>
                    </div>
                    <div class="header__tool">
                       
                        <partial name="_LoginOfficersPartial" />
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" asp-controller="Dashboard" asp-action="AgricOfficers">
                            <h2 class="text-white">SMARTSOILGH</h2>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a asp-controller="Dashboard" asp-action="AgricOfficers">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                                <span class="bot-line"></span>
                            </a>
                        </li>
                       
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Devices
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a asp-controller="Arduino" asp-action="GetArduinoDevicesRegisteredByAgricExtOfficer">Verify device</a>
                                </li>
                                <li>
                                    <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficer">
                                        Activated Devices
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Arduino" asp-action="GetUnActivatedDevicesRegisterdByAgricExtensionOfficer">
                                        Unactivated devices
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerButAreOnsite">
                                        On-Site devices
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerAndNotOnsite">
                                        Off-site devices
                                    </a>
                                </li>

                                <li>
                                    <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerThatAreOnsiteAndActive">
                                        Onsite & Active devices
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Arduino" asp-action="GetActivatedDevicesRegisterdByAgricExtensionOfficerThatAreOnsiteAndUnactive">
                                        Onsite & Unactive devices
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>Farmers
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a asp-controller="Farmer" asp-action="RegisterFarmer">Add new farmers</a>
                                </li>
                                <li>
                                    <a asp-controller="Farmer" asp-action="GetFarmersByOfficers">Registered Farmers</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
               
           
                <partial name="_LoginOfficersPartialMobile" />
            </div>
        </div>
        <!-- END HEADER MOBILE -->
        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
          
            <!-- END BREADCRUMB-->
            <!--Main-->
            <main role="main" class="pb-3">
                @RenderBody()
            </main> 
            <!--Main-->
            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright &copy; @DateTime.Now.Year All rights reserved. Department of Computer Science,KNUST </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="~/dashboard/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/dashboard/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/dashboard/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>

    <!-- Vendor JS       -->
    <script src="~/dashboard/vendor/slick/slick.min.js">
    </script>
    <script src="~/dashboard/vendor/wow/wow.min.js"></script>
    <script src="~/dashboard/vendor/animsition/animsition.min.js"></script>
    <script src="~/dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/dashboard/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/dashboard/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/dashboard/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/dashboard/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/dashboard/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/dashboard/vendor/select2/select2.min.js">
    </script>
    <script src="~/dashboard/vendor/vector-map/jquery.vmap.js"></script>
    <script src="~/dashboard/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="~/dashboard/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/dashboard/vendor/vector-map/jquery.vmap.world.js"></script>

    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <!-- Main JS-->
    <script src="~/dashboard/js/main.js"></script>



    @await Html.PartialAsync("_notificationPartial")
    @RenderSection("Scripts", required: false)

</body>

</html>
<!-- end document-->
