@model Frontend.Models.Data.ViewModel.FarmerViewModel

@{
    ViewData["Title"] = "EditFarmerDetails";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}


<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                   
                    <form asp-action="EditFarmerDetails" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card shadow">
                            <div class="card-header bg-transparent">
                                <p class="text-primary" style="font-size:large"><span class="fa fa-users"></span> Edit farmer information</p>
                            </div>
                            <div class="card-body">
                                <input type="hidden" asp-for="FarmerId" />
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">

                                            @if (Model?.FarmerPhoto == null)
                                            {
                                                <img id="profilePicture" class="img-thumbnail" style="width:20%;height:20%; object-fit:cover" alt="User photo" src="~/images//UserImage.jpg">
                                            }
                                            else
                                            {
                                                <img id="profilePicture" class="img-thumbnail" style="width:20%;height:20%; object-fit:cover" src="data:image/*;base64,@(Html.Raw(Convert.ToBase64String(Model.FarmerPhoto)))" alt="user photo">
                                            }
                                            <input type="file"
                                                   accept=".png,.jpg,.jpeg"
                                                   asp-for="ImageFile"
                                                   class="border form-control"
                                                   style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                            @*<span asp-validation-for="ProfilePic" class="text-danger"></span>*@
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="Firstname" class="control-label"></label>
                                            <input asp-for="Firstname" class="form-control" />
                                            <span asp-validation-for="Firstname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="MiddleName" class="control-label"></label>
                                            <input asp-for="MiddleName" class="form-control" />
                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="Location" class="control-label"></label>
                                            <input asp-for="Location" class="form-control" />
                                            <span asp-validation-for="Location" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="Contact" class="control-label"></label>
                                            <input asp-for="Contact" class="form-control" />
                                            <span asp-validation-for="Contact" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="RegionId" class="control-label"></label>
                                            <select asp-for="RegionId" asp-items="Model?.RegionList" class="form-control">
                                                <option>Select Region of Location</option>
                                            </select>
                                            <span asp-validation-for="RegionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label asp-for="GenderId" class="control-label"></label>
                                            <select asp-for="GenderId" asp-items="Model?.GenderList" class="form-control">
                                                <option>Select Gender</option>
                                            </select>
                                            <span asp-validation-for="GenderId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block"><span></span> Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



