@model Frontend.Models.Data.ViewModel.ArduinoViewModel

@{
    ViewData["Title"] = "AddArduino";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card shadow">
                        <div class="card-header bg-transparent">
                            <h2 class="text-primary"><span class="fa fa-edit"></span> Add Device information</h2>
                        </div>
                            <div class="card-body">

                                <form asp-action="AddArduino">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-group">
                                        <label asp-for="SerialNumber" class="control-label"></label>
                                        <input asp-for="SerialNumber" class="form-control" />
                                        <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Vid" class="control-label"></label>
                                        <input asp-for="Vid" class="form-control" />
                                        <span asp-validation-for="Vid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Pid" class="control-label"></label>
                                        <input asp-for="Pid" class="form-control" />
                                        <span asp-validation-for="Pid" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Bn" class="control-label"></label>
                                        <input asp-for="Bn" class="form-control" />
                                        <span asp-validation-for="Bn" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary"><i class="zmdi zmdi-save"></i> Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>











