@model Frontend.Models.Data.ViewModel.FarmViewModel

@{
    ViewData["Title"] = "Update Farm";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";

}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="UpdateFarm">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="card shadow">
                                    <div class="card-header bg-transparent">
                                        <h2 class="text-primary"><span class="fa fa-tractor"></span> Edit farm information</h2>
                                    </div>
                                    <div class="card-body">
                                        <input type="hidden" asp-for="FarmId" />
                                        <input type="hidden" asp-for="FarmerId" />
                                        <div class="form-group">
                                            <label asp-for="FarmName" class="control-label"></label>
                                            <input asp-for="FarmName" class="form-control" />
                                            <span asp-validation-for="FarmName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Location" class="control-label"></label>
                                            <input asp-for="Location" class="form-control" />
                                            <span asp-validation-for="Location" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RegionId" class="control-label"></label>
                                            <select asp-for="RegionId" asp-items="Model?.RegionList" class="form-control">
                                                <option>Select Region of Location</option>
                                            </select>
                                            <span asp-validation-for="RegionId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SoilCategoryId" class="control-label"></label>
                                            <select asp-for="SoilCategoryId" asp-items="Model?.SoilCategoryList" class="form-control">
                                                <option>Select soil category</option>
                                            </select>
                                            <span asp-validation-for="SoilCategoryId" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="SerialNumber" class="control-label"></label>
                                            <input asp-for="SerialNumber" class="form-control" />
                                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block" ><span class="fa fa-save"></span> Submit</button>
                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
